USE [master]
GO
/****** Object:  Database [schoolmanager]    Script Date: 5/13/2026 6:59:36 PM ******/
CREATE DATABASE [schoolmanager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'schoolmanager', FILENAME = N'D:\Github\MSSQL17.MSSQLSERVER\MSSQL\DATA\schoolmanager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'schoolmanager_log', FILENAME = N'D:\Github\MSSQL17.MSSQLSERVER\MSSQL\DATA\schoolmanager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [schoolmanager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [schoolmanager]
GO
/****** Object:  Table [dbo].[academic_years]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academic_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[year] [nvarchar](20) NULL,
	[description] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[advisor_classe_sections]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisor_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](200) NULL,
	[total_floors] [tinyint] NULL,
	[building_type] [varchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_grade_configs]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_grade_configs](
	[default_weight_percentage] [numeric](5, 2) NOT NULL,
	[input_order] [int] NULL,
	[is_required] [bit] NULL,
	[course_id] [uniqueidentifier] NOT NULL,
	[grade_category_id] [uniqueidentifier] NOT NULL,
	[id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_registrations]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_registrations](
	[is_active] [bit] NULL,
	[is_paid] [bit] NULL,
	[registration_type] [int] NULL,
	[status] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[registered_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[registration_period_id] [uniqueidentifier] NULL,
	[replaced_grade_id] [uniqueidentifier] NULL,
	[student_id] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[row_version] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_sections]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_sections](
	[is_active] [bit] NULL,
	[max_students] [int] NULL,
	[min_students] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[registration_end] [datetime2](6) NULL,
	[registration_start] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[building_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[room_id] [uniqueidentifier] NULL,
	[semester_id] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[status] [nvarchar](50) NULL,
	[code] [varchar](100) NULL,
	[class_type] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[lecturer_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[credits] [int] NULL,
	[is_active] [bit] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NULL,
	[name] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[established_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_positions]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_positions](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[department_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[hire_date] [date] NULL,
	[contract_type] [nvarchar](255) NULL,
	[salary_coefficient] [decimal](4, 2) NULL,
	[academic_degree] [nvarchar](100) NULL,
	[academic_title] [nvarchar](100) NULL,
	[specialization] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grade_categories]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grade_categories](
	[is_active] [bit] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grade_students]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grade_students](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[grade_scale_id] [uniqueidentifier] NULL,
	[score] [numeric](4, 2) NULL,
	[student_id] [uniqueidentifier] NULL,
	[subject_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturer_course_classes]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturer_course_classes](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[course_class_id] [uniqueidentifier] NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[effective_date] [varchar](20) NULL,
	[expiry_date] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_grade_components]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_grade_components](
	[id] [uniqueidentifier] NOT NULL,
	[component_code] [varchar](20) NOT NULL,
	[component_name] [varchar](50) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[input_order] [int] NULL,
	[is_active] [bit] NULL,
	[is_required] [bit] NULL,
	[max_score] [numeric](4, 2) NULL,
	[min_score] [numeric](4, 2) NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
	[weight_percentage] [numeric](5, 2) NOT NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_grade_scales]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_grade_scales](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[gpa_value] [numeric](3, 2) NOT NULL,
	[is_active] [bit] NULL,
	[is_pass] [bit] NULL,
	[letter_grade] [varchar](2) NOT NULL,
	[max_score] [numeric](4, 2) NOT NULL,
	[min_score] [numeric](4, 2) NOT NULL,
	[scale_code] [varchar](10) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_student_grades]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_student_grades](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[gpa_value] [numeric](3, 2) NULL,
	[grade_component_id] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[is_finalized] [bit] NULL,
	[is_locked] [bit] NULL,
	[is_retake] [bit] NULL,
	[is_total] [bit] NULL,
	[letter_grade] [varchar](2) NULL,
	[note] [varchar](255) NULL,
	[registration_id] [uniqueidentifier] NULL,
	[result] [varchar](10) NULL,
	[scale_id] [uniqueidentifier] NULL,
	[score] [numeric](4, 2) NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_students]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_students](
	[id] [uniqueidentifier] NOT NULL,
	[email] [varchar](150) NULL,
	[is_active] [bit] NULL,
	[name] [varchar](150) NOT NULL,
	[student_code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_v3_grade_components]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_v3_grade_components](
	[input_order] [int] NULL,
	[is_active] [bit] NULL,
	[is_final] [bit] NULL,
	[is_required] [bit] NULL,
	[max_score] [numeric](4, 2) NULL,
	[min_score] [numeric](4, 2) NULL,
	[weight_percentage] [numeric](5, 2) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[course_id] [uniqueidentifier] NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[grade_category_id] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
	[component_code] [nvarchar](50) NOT NULL,
	[component_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_v3_grade_scales]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_v3_grade_scales](
	[gpa_value] [numeric](3, 2) NOT NULL,
	[is_active] [bit] NULL,
	[is_pass] [bit] NULL,
	[letter_grade] [nvarchar](2) NOT NULL,
	[max_score] [numeric](4, 2) NOT NULL,
	[min_score] [numeric](4, 2) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[scale_code] [nvarchar](10) NOT NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_v3_student_grades]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_v3_student_grades](
	[gpa_value] [numeric](3, 2) NULL,
	[is_active] [bit] NULL,
	[is_finalized] [bit] NULL,
	[is_locked] [bit] NULL,
	[is_retake] [bit] NULL,
	[is_total] [bit] NULL,
	[letter_grade] [nvarchar](2) NULL,
	[score] [numeric](4, 2) NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[graded_at] [datetime2](6) NULL,
	[locked_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[result] [nvarchar](10) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[grade_component_id] [uniqueidentifier] NULL,
	[graded_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[locked_by] [uniqueidentifier] NULL,
	[registration_id] [uniqueidentifier] NULL,
	[scale_id] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[status] [varchar](20) NULL,
	[history_note] [nvarchar](500) NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[n8_v3_students]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[n8_v3_students](
	[id] [uniqueidentifier] NOT NULL,
	[email] [varchar](150) NULL,
	[is_active] [bit] NULL,
	[name] [nvarchar](150) NOT NULL,
	[student_code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
	[code] [varchar](100) NULL,
	[module] [varchar](100) NULL,
	[name] [varchar](150) NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[level] [nvarchar](100) NULL,
	[department_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[is_active] [bit] NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
	[code] [varchar](50) NULL,
	[name] [varchar](100) NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[building_id] [uniqueidentifier] NULL,
	[floor_floor_number] [int] NULL,
	[capacity] [int] NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[has_projector] [bit] NULL,
	[has_air_conditioner] [bit] NULL,
	[has_computer] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[day_of_week] [int] NULL,
	[date] [date] NULL,
	[shift] [nvarchar](50) NULL,
	[start_period] [int] NULL,
	[end_period] [int] NULL,
	[number_of_periods] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[mode] [nvarchar](100) NULL,
	[status] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[schedule_status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_years]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semesters]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semesters](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[school_year_id] [uniqueidentifier] NULL,
	[school_year_name] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classe_sections]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classes]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classes](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[academic_year_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_component_grades]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_component_grades](
	[id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[grade_component_id] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[is_locked] [bit] NULL,
	[is_retake] [bit] NULL,
	[note] [varchar](255) NULL,
	[score] [numeric](4, 2) NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_course_sections]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[registered_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[date_of_birth] [date] NULL,
	[date_of_issue] [date] NULL,
	[is_active] [bit] NULL,
	[admission_year] [datetime2](6) NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[gender] [nvarchar](10) NULL,
	[academic_year_year] [uniqueidentifier] NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[major_id] [uniqueidentifier] NULL,
	[student_classe_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
	[personal_identification_number] [varchar](20) NULL,
	[status] [varchar](50) NULL,
	[card_place] [nvarchar](100) NULL,
	[code] [varchar](100) NULL,
	[address] [nvarchar](300) NULL,
	[current_address] [nvarchar](300) NULL,
	[full_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_program_courses]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_program_courses](
	[id] [uniqueidentifier] NOT NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[course_code] [varchar](100) NULL,
	[course_name] [nvarchar](255) NULL,
	[semester_id] [uniqueidentifier] NULL,
	[semester_code] [nvarchar](100) NULL,
	[academic_year] [nvarchar](20) NULL,
	[is_required] [bit] NULL,
	[group_code] [nvarchar](50) NULL,
	[credits] [decimal](5, 1) NULL,
	[prerequisite_course_id] [uniqueidentifier] NULL,
	[is_prerequisite_required] [bit] NULL,
	[note] [nvarchar](500) NULL,
	[sort_order] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_programs]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_programs](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[major_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[degree_level] [nvarchar](50) NULL,
	[education_type] [nvarchar](50) NULL,
	[total_credits] [decimal](5, 1) NULL,
	[required_credits] [decimal](5, 1) NULL,
	[elective_credits] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[thesis_credits] [decimal](5, 1) NULL,
	[admission_year] [date] NULL,
	[duration_years] [decimal](5, 1) NULL,
	[max_duration_years] [decimal](5, 1) NULL,
	[effective_date] [date] NULL,
	[expiry_date] [date] NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](max) NULL,
	[learning_outcomes] [nvarchar](max) NULL,
	[version] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/13/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[deleted_at] [datetime2](6) NULL,
	[last_login_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
	[phone] [varchar](20) NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[avatar_url] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'eece1249-3506-4dc8-8b8a-0495425e6a49', N'AY2017', N'Niên khóa 2017-2020', N'2017-2020', N'Niên khóa từ 2017 đến 2020', CAST(N'2017-09-01' AS Date), CAST(N'2020-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63b3f5ab-772b-43c1-8cdb-2cba1e8420a3', N'AY2031', N'Niên khóa 2031-2034', N'2031-2034', N'Niên khóa từ 2031 đến 2034', CAST(N'2031-09-01' AS Date), CAST(N'2034-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'49a45afd-8a3f-4163-b137-4bd659b24aa9', N'AY2021', N'Niên khóa 2021-2024', N'2021-2024', N'Niên khóa từ 2021 đến 2024', CAST(N'2021-09-01' AS Date), CAST(N'2024-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[course_registrations] ([is_active], [is_paid], [registration_type], [status], [created_at], [deleted_at], [registered_at], [updated_at], [course_section_id], [created_by], [deleted_by], [id], [registration_period_id], [replaced_grade_id], [student_id], [updated_by]) VALUES (1, NULL, 1, NULL, NULL, NULL, CAST(N'2026-05-12T22:51:58.1000000' AS DateTime2), NULL, N'2ff787ee-9f8e-48c4-bee8-2aa728fd73ec', NULL, NULL, N'de5cfe47-a0db-4dc0-83ad-01ceb51edd36', NULL, NULL, N'9d8d8364-11e6-4ce7-ac67-87d92083239b', NULL)
INSERT [dbo].[course_registrations] ([is_active], [is_paid], [registration_type], [status], [created_at], [deleted_at], [registered_at], [updated_at], [course_section_id], [created_by], [deleted_by], [id], [registration_period_id], [replaced_grade_id], [student_id], [updated_by]) VALUES (1, NULL, 1, NULL, NULL, NULL, CAST(N'2026-05-12T22:51:58.0966670' AS DateTime2), NULL, N'6e1a7820-39fc-4ac3-a7f6-c7eebc67182b', NULL, NULL, N'efc1eae3-26c9-4979-8b5b-029f337211bb', NULL, NULL, N'bdf4e66d-55b2-4f39-8c87-2f0121f12b0f', NULL)
INSERT [dbo].[course_registrations] ([is_active], [is_paid], [registration_type], [status], [created_at], [deleted_at], [registered_at], [updated_at], [course_section_id], [created_by], [deleted_by], [id], [registration_period_id], [replaced_grade_id], [student_id], [updated_by]) VALUES (1, NULL, 1, NULL, NULL, NULL, CAST(N'2026-05-12T22:51:58.1000000' AS DateTime2), NULL, N'4adb7a81-61b3-419b-a20b-5a444abe9ccf', NULL, NULL, N'19f7cdb7-893a-4037-847b-06f17731e1d6', NULL, NULL, N'31e33217-1664-4a93-9d45-f70a7f806b23', NULL)
GO
INSERT [dbo].[courses] ([credits], [is_active], [id], [code], [name]) VALUES (3, 1, N'da0fb2af-0d3a-4434-b877-34b67af6e750', N'IT303', N'Phân tích thi?t k? h? th?ng')
INSERT [dbo].[courses] ([credits], [is_active], [id], [code], [name]) VALUES (3, 1, N'b5f02251-b007-4404-91e0-3d7e55a43a94', N'IT304', N'L?p tr?nh Web v?i Spring Boot')
INSERT [dbo].[courses] ([credits], [is_active], [id], [code], [name]) VALUES (3, 1, N'2642f2e9-2bcf-425f-9564-4fcf909328fe', N'IT301', N'L?p tr?nh Java nâng cao')
GO
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a835541a-f0e8-4766-84c2-0abd2bc77e1b', N'TT', N'Khoa Truyền thông', N'Đào tạo truyền thông đa phương tiện', CAST(N'2012-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3bfc60aa-62e8-4107-abf0-1a436c0b1349', N'NN', N'Khoa Ngoại ngữ', N'Đào tạo ngoại ngữ', CAST(N'2003-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'bc808290-ef1f-472a-b24e-1e4d19380b83', N'LOG', N'Khoa Logistics', N'Đào tạo logistics và chuỗi cung ứng', CAST(N'2016-01-01' AS Date), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[grade_categories] ([is_active], [id], [code], [description], [name]) VALUES (1, N'89c6f5f9-ffa4-457c-9222-0c095f155ead', N'GK', NULL, N'Giữa kỳ')
INSERT [dbo].[grade_categories] ([is_active], [id], [code], [description], [name]) VALUES (1, N'503fe1ef-a8da-406e-907a-1e978ca27207', N'CC', NULL, N'Chuyên cần')
INSERT [dbo].[grade_categories] ([is_active], [id], [code], [description], [name]) VALUES (1, N'2fb843fc-9f22-4ae1-ab92-6c0f8ae074d3', N'BT', NULL, N'Bài tập (Assignment)')
GO
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'94844a40-f7c5-47f0-864b-00ebe8d79154', N'5890f569-0f42-440b-8fa4-2e88f56fd8c5', N'MJ00017', N'Logistics và Quản lý chuỗi cung ứng 49', N'Ngành đào tạo chuyên sâu 31', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a110231c-019c-46f0-84f8-0205fc7679f8', N'c26c9041-030e-4459-af90-8e81dc2d21a9', N'MJ00023', N'Logistics và Quản lý chuỗi cung ứng 41', N'Ngành đào tạo chuyên sâu 8', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7470b351-d46b-49a2-a7aa-02c53385de85', N'96ee7061-516b-4a25-a787-3780c4bbe82c', N'MJ00033', N'Marketing 19', N'Ngành đào tạo chuyên sâu 38', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[n8_grade_scales] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [gpa_value], [is_active], [is_pass], [letter_grade], [max_score], [min_score], [scale_code], [updated_at], [updated_by]) VALUES (N'446cfb05-fa9b-4e41-8b36-6cd13dcf3927', CAST(N'2026-05-04T15:34:15.7624150' AS DateTime2), NULL, NULL, NULL, CAST(2.00 AS Numeric(3, 2)), 1, 1, N'C', CAST(6.40 AS Numeric(4, 2)), CAST(5.50 AS Numeric(4, 2)), N'C', CAST(N'2026-05-04T15:34:15.7629220' AS DateTime2), NULL)
INSERT [dbo].[n8_grade_scales] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [gpa_value], [is_active], [is_pass], [letter_grade], [max_score], [min_score], [scale_code], [updated_at], [updated_by]) VALUES (N'7a33fb2c-b918-4791-bfa3-8a9cb0cfc493', CAST(N'2026-05-04T15:34:15.7629220' AS DateTime2), NULL, NULL, NULL, CAST(1.50 AS Numeric(3, 2)), 1, 1, N'D+', CAST(5.40 AS Numeric(4, 2)), CAST(5.00 AS Numeric(4, 2)), N'D+', CAST(N'2026-05-04T15:34:15.7629220' AS DateTime2), NULL)
INSERT [dbo].[n8_grade_scales] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [gpa_value], [is_active], [is_pass], [letter_grade], [max_score], [min_score], [scale_code], [updated_at], [updated_by]) VALUES (N'e09c672b-172d-48de-ad93-90db5c392075', CAST(N'2026-05-04T15:34:15.7629220' AS DateTime2), NULL, NULL, NULL, CAST(1.00 AS Numeric(3, 2)), 1, 1, N'D', CAST(4.90 AS Numeric(4, 2)), CAST(4.00 AS Numeric(4, 2)), N'D', CAST(N'2026-05-04T15:34:15.7629220' AS DateTime2), NULL)
GO
INSERT [dbo].[n8_students] ([id], [email], [is_active], [name], [student_code]) VALUES (N'1c3a9409-8d81-420f-9b9c-25e85ae90e31', N'student2@school.edu.vn', 1, N'Tr?n Th? B?nh', N'SV1001')
INSERT [dbo].[n8_students] ([id], [email], [is_active], [name], [student_code]) VALUES (N'098edef3-7501-4f9c-b223-2b924ca9665c', N'student7@school.edu.vn', 1, N'Đ? Văn Giang', N'SV1006')
INSERT [dbo].[n8_students] ([id], [email], [is_active], [name], [student_code]) VALUES (N'297cd7b9-5e9d-448e-ba61-2c83845dc5b7', N'student3@school.edu.vn', 1, N'Lê Văn Cư?ng', N'SV1002')
GO
INSERT [dbo].[n8_v3_grade_components] ([input_order], [is_active], [is_final], [is_required], [max_score], [min_score], [weight_percentage], [created_at], [deleted_at], [updated_at], [course_id], [course_section_id], [created_by], [deleted_by], [grade_category_id], [id], [updated_by], [component_code], [component_name]) VALUES (2, 1, 0, 1, NULL, NULL, CAST(30.00 AS Numeric(5, 2)), NULL, CAST(N'2026-05-12T23:06:31.2466670' AS DateTime2), NULL, NULL, N'78eb7952-c59a-43f9-a509-12d090048490', NULL, NULL, NULL, N'6a994457-0e15-4b8c-ba22-0615734a3480', NULL, N'GK', N'Giữa kỳ')
INSERT [dbo].[n8_v3_grade_components] ([input_order], [is_active], [is_final], [is_required], [max_score], [min_score], [weight_percentage], [created_at], [deleted_at], [updated_at], [course_id], [course_section_id], [created_by], [deleted_by], [grade_category_id], [id], [updated_by], [component_code], [component_name]) VALUES (1, 1, 0, 1, NULL, NULL, CAST(15.00 AS Numeric(5, 2)), NULL, NULL, CAST(N'2026-05-13T17:46:58.0496360' AS DateTime2), NULL, N'6e1a7820-39fc-4ac3-a7f6-c7eebc67182b', NULL, NULL, NULL, N'93771759-2ce0-4cba-a51c-26703d98a605', NULL, N'GK', N'Giữa kỳ')
GO
INSERT [dbo].[n8_v3_grade_scales] ([gpa_value], [is_active], [is_pass], [letter_grade], [max_score], [min_score], [created_at], [deleted_at], [updated_at], [scale_code], [created_by], [deleted_by], [id], [updated_by]) VALUES (CAST(1.00 AS Numeric(3, 2)), 1, 1, N'D', CAST(5.49 AS Numeric(4, 2)), CAST(4.00 AS Numeric(4, 2)), NULL, NULL, NULL, N'D', NULL, NULL, N'3bf178ed-2cb1-4b00-9fc3-1000695ebd46', NULL)
INSERT [dbo].[n8_v3_grade_scales] ([gpa_value], [is_active], [is_pass], [letter_grade], [max_score], [min_score], [created_at], [deleted_at], [updated_at], [scale_code], [created_by], [deleted_by], [id], [updated_by]) VALUES (CAST(0.00 AS Numeric(3, 2)), 1, 0, N'F', CAST(3.99 AS Numeric(4, 2)), CAST(0.00 AS Numeric(4, 2)), NULL, NULL, NULL, N'F', NULL, NULL, N'd59db920-fb3d-4ea8-ae24-1755774e9d23', NULL)
INSERT [dbo].[n8_v3_grade_scales] ([gpa_value], [is_active], [is_pass], [letter_grade], [max_score], [min_score], [created_at], [deleted_at], [updated_at], [scale_code], [created_by], [deleted_by], [id], [updated_by]) VALUES (CAST(4.00 AS Numeric(3, 2)), 1, 1, N'A', CAST(10.00 AS Numeric(4, 2)), CAST(8.50 AS Numeric(4, 2)), NULL, NULL, NULL, N'A', NULL, NULL, N'15d4207b-15c6-4084-ad02-54552fd2b94b', NULL)
GO
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6917d6aa-bb7f-4612-9e7c-04f0c174213b', N'GV', N'Giảng viên', N'Giảng dạy sinh viên', N'Nhân sự', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a0f31994-f76f-424c-81eb-0575790f68dc', N'AIENG', N'Kỹ sư AI', N'Phát triển AI', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'fda6a4a1-2e36-4a8e-b519-125006a7aa95', N'TEST', N'Kiểm thử phần mềm', N'Tester', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([is_active], [is_system], [created_at], [deleted_at], [updated_at], [created_by], [deleted_by], [id], [updated_by], [code], [name], [description]) VALUES (1, 1, CAST(N'2026-05-12T22:37:22.1434870' AS DateTime2), NULL, NULL, NULL, NULL, N'08e0d852-1c15-4dd8-9b43-10f31429bfbb', NULL, N'STUDENT', N'Sinh viên', NULL)
INSERT [dbo].[roles] ([is_active], [is_system], [created_at], [deleted_at], [updated_at], [created_by], [deleted_by], [id], [updated_by], [code], [name], [description]) VALUES (1, 1, CAST(N'2026-05-12T22:37:22.1305690' AS DateTime2), NULL, NULL, NULL, NULL, N'98cb4df5-c52f-4e9d-9e3c-a369dd75946e', NULL, N'TEACHER', N'Gi?ng viên', NULL)
INSERT [dbo].[roles] ([is_active], [is_system], [created_at], [deleted_at], [updated_at], [created_by], [deleted_by], [id], [updated_by], [code], [name], [description]) VALUES (1, 1, CAST(N'2026-05-12T22:37:22.0807420' AS DateTime2), NULL, NULL, NULL, NULL, N'209be787-958d-4b4b-8bd8-b8a22b491815', NULL, N'ADMIN', N'Qu?n tr? viên', NULL)
GO
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'24806991-3c90-4139-9e47-0e2ceaa05230', N'SY2030', N'Năm học 2030-2031', N'Năm học từ 2030 đến 2031', NULL, CAST(N'2030-09-01' AS Date), CAST(N'2031-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'115fd0d2-2578-4c46-9f0e-0f22f539805e', N'SY2016', N'Năm học 2016-2017', N'Năm học từ 2016 đến 2017', NULL, CAST(N'2016-09-01' AS Date), CAST(N'2017-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ade33bc3-1440-47fd-9a72-3c0a2f8e5813', N'SY2017', N'Năm học 2017-2018', N'Năm học từ 2017 đến 2018', NULL, CAST(N'2017-09-01' AS Date), CAST(N'2018-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e941f638-e0ae-48d8-b0a4-6c356af20048', N'HK1_2014_2015', N'Học kỳ 1 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2014-09-01' AS Date), CAST(N'2015-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'66112440-b80c-49b9-a774-ae728cd1731a', N'HK2_2014_2015', N'Học kỳ 2 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2015-01-16' AS Date), CAST(N'2015-06-30' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ec5ca34f-7ff7-43f6-a514-7d3e1acff750', N'HK1_2015_2016', N'Học kỳ 1 năm học 2015-2016', N'21f9301f-e941-480f-9e7c-aa527e5b3be4', N'Năm học 2015-2016', CAST(N'2015-09-01' AS Date), CAST(N'2016-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[user_roles] ([role_id], [user_id]) VALUES (N'08e0d852-1c15-4dd8-9b43-10f31429bfbb', N'5f4c7291-b3c8-4bb4-a953-1c3e047574d6')
INSERT [dbo].[user_roles] ([role_id], [user_id]) VALUES (N'08e0d852-1c15-4dd8-9b43-10f31429bfbb', N'abd234d4-bcd4-4276-b8fa-24643d251423')
INSERT [dbo].[user_roles] ([role_id], [user_id]) VALUES (N'08e0d852-1c15-4dd8-9b43-10f31429bfbb', N'3ed518c2-a852-4509-95bd-265f9169bf70')
GO
INSERT [dbo].[users] ([is_active], [created_at], [deleted_at], [last_login_at], [updated_at], [created_by], [deleted_by], [id], [updated_by], [phone], [username], [email], [avatar_url], [password]) VALUES (1, CAST(N'2026-05-12T22:37:22.1656500' AS DateTime2), NULL, NULL, NULL, NULL, NULL, N'482e504d-6d59-41cc-8c78-056055d8e7e0', NULL, NULL, N'admin', N'admin@edu.vn', NULL, N'admin123')
INSERT [dbo].[users] ([is_active], [created_at], [deleted_at], [last_login_at], [updated_at], [created_by], [deleted_by], [id], [updated_by], [phone], [username], [email], [avatar_url], [password]) VALUES (1, CAST(N'2026-05-12T22:51:58.0933330' AS DateTime2), NULL, NULL, NULL, NULL, NULL, N'5f4c7291-b3c8-4bb4-a953-1c3e047574d6', NULL, NULL, N'21001018', N'21001018@student.edu.vn', NULL, N'123')
INSERT [dbo].[users] ([is_active], [created_at], [deleted_at], [last_login_at], [updated_at], [created_by], [deleted_by], [id], [updated_by], [phone], [username], [email], [avatar_url], [password]) VALUES (1, CAST(N'2026-05-12T22:51:58.0933330' AS DateTime2), NULL, NULL, NULL, NULL, NULL, N'abd234d4-bcd4-4276-b8fa-24643d251423', NULL, NULL, N'21001016', N'21001016@student.edu.vn', NULL, N'123')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK61og8rbqdd2y28rx2et5fdnxd]    Script Date: 5/13/2026 6:59:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK61og8rbqdd2y28rx2et5fdnxd] ON [dbo].[courses]
(
	[code] ASC
)
WHERE ([code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKm1ectp61aw1w0d75njyl287ex]    Script Date: 5/13/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[grade_categories] ADD  CONSTRAINT [UKm1ectp61aw1w0d75njyl287ex] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKi30ms4payi4ddb0bxm3p497yw]    Script Date: 5/13/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[n8_students] ADD  CONSTRAINT [UKi30ms4payi4ddb0bxm3p497yw] UNIQUE NONCLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKpeb1vi5yl3xk3fdt90wg4mgcj]    Script Date: 5/13/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[n8_v3_students] ADD  CONSTRAINT [UKpeb1vi5yl3xk3fdt90wg4mgcj] UNIQUE NONCLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student___357D4CF9A5E9BD8B]    Script Date: 5/13/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[student_classes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKeqa1d4jiyg5m5rnuja7ifgw73]    Script Date: 5/13/2026 6:59:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKeqa1d4jiyg5m5rnuja7ifgw73] ON [dbo].[students]
(
	[code] ASC
)
WHERE ([code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (N'lecturer') FOR [role]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'offline') FOR [mode]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ('active') FOR [schedule_status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[course_grade_configs]  WITH CHECK ADD  CONSTRAINT [FKeyc0pf0uwxqbhpuccuphva4tu] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_grade_configs] CHECK CONSTRAINT [FKeyc0pf0uwxqbhpuccuphva4tu]
GO
ALTER TABLE [dbo].[course_grade_configs]  WITH CHECK ADD  CONSTRAINT [FKoubg7x44p42vsbdqxhaags7bs] FOREIGN KEY([grade_category_id])
REFERENCES [dbo].[grade_categories] ([id])
GO
ALTER TABLE [dbo].[course_grade_configs] CHECK CONSTRAINT [FKoubg7x44p42vsbdqxhaags7bs]
GO
ALTER TABLE [dbo].[course_registrations]  WITH CHECK ADD  CONSTRAINT [FK1uitfc1h86q0t7ncnhlylbvab] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[course_registrations] CHECK CONSTRAINT [FK1uitfc1h86q0t7ncnhlylbvab]
GO
ALTER TABLE [dbo].[course_registrations]  WITH CHECK ADD  CONSTRAINT [FKgd51y6ank1yvgpthtwvc08sgy] FOREIGN KEY([course_section_id])
REFERENCES [dbo].[course_sections] ([id])
GO
ALTER TABLE [dbo].[course_registrations] CHECK CONSTRAINT [FKgd51y6ank1yvgpthtwvc08sgy]
GO
ALTER TABLE [dbo].[course_sections]  WITH CHECK ADD  CONSTRAINT [FK4xiaseygl0aodt5ahkbm8s2ds] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_sections] CHECK CONSTRAINT [FK4xiaseygl0aodt5ahkbm8s2ds]
GO
ALTER TABLE [dbo].[n8_v3_grade_components]  WITH CHECK ADD  CONSTRAINT [FK8acebv6m6diwarp560msa5tai] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[n8_v3_grade_components] CHECK CONSTRAINT [FK8acebv6m6diwarp560msa5tai]
GO
ALTER TABLE [dbo].[n8_v3_grade_components]  WITH CHECK ADD  CONSTRAINT [FKc3b1f7yf633xihipuo185xbsx] FOREIGN KEY([course_section_id])
REFERENCES [dbo].[course_sections] ([id])
GO
ALTER TABLE [dbo].[n8_v3_grade_components] CHECK CONSTRAINT [FKc3b1f7yf633xihipuo185xbsx]
GO
ALTER TABLE [dbo].[n8_v3_grade_components]  WITH CHECK ADD  CONSTRAINT [FKof9wgvtg0ft93pa8l07jo12w9] FOREIGN KEY([grade_category_id])
REFERENCES [dbo].[grade_categories] ([id])
GO
ALTER TABLE [dbo].[n8_v3_grade_components] CHECK CONSTRAINT [FKof9wgvtg0ft93pa8l07jo12w9]
GO
ALTER TABLE [dbo].[n8_v3_student_grades]  WITH CHECK ADD  CONSTRAINT [FKp9wsgnid9qmqdtq1tt42pnid6] FOREIGN KEY([registration_id])
REFERENCES [dbo].[course_registrations] ([id])
GO
ALTER TABLE [dbo].[n8_v3_student_grades] CHECK CONSTRAINT [FKp9wsgnid9qmqdtq1tt42pnid6]
GO
ALTER TABLE [dbo].[n8_v3_student_grades]  WITH CHECK ADD  CONSTRAINT [FKhexpcw3q1b2aer8cx44us5avw] FOREIGN KEY([grade_component_id])
REFERENCES [dbo].[n8_v3_grade_components] ([id])
GO
ALTER TABLE [dbo].[n8_v3_student_grades] CHECK CONSTRAINT [FKhexpcw3q1b2aer8cx44us5avw]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FKegdk29eiy7mdtefy5c7eirr6e] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FKegdk29eiy7mdtefy5c7eirr6e]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FKn5fotdgk8d1xvo8nav9uv3muc] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FKn5fotdgk8d1xvo8nav9uv3muc]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(2) AND [day_of_week]<=(8)))
GO
ALTER TABLE [dbo].[student_component_grades]  WITH CHECK ADD CHECK  (([score]>=(0) AND [score]<=(10)))
GO
USE [master]
GO
